<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <style>
        textarea:focus{
            outline: 0;
        }
        .btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
            outline: none;
            border-color: transparent;
            box-shadow:none;
        }
        .shadow{
            -webkit-box-shadow: 0 1px 5px 0 rgba(0,34,77,.12);
            -moz-box-shadow: 0 1px 5px 0 rgba(0,34,77,.12);
            box-shadow: 0 1px 5px 0 rgba(0,34,77,.12);
        }
        .shadow-smaller{
            -webkit-box-shadow: 0 1px 5px 0 rgba(0,34,77,.07);
            -moz-box-shadow: 0 1px 5px 0 rgba(0,34,77,.07);
            box-shadow: 0 1px 5px 0 rgba(0,34,77,.07);
        }

    </style>
</head>
<body style="background-color: #fafafa">

<div class="container-fluid">
    <div class="col-md-12 column" style="position: fixed;top: 0;z-index: 999">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-8 column" style="">
                <div class="row clearfix">
                    <ul class="nav nav-pills shadow" style="background-color: #ffffff;margin-right: -3px;margin-left: 5px">
                        <li class="active">
                            <a href="http://127.0.0.1:3000/home" style="padding: 0 10px 0 10px;font-size: 28px">知</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:3000/home">首页</a>
                        </li>
                        <li class="disabled">
                            <a href="#">发现</a>
                        </li>
                        <li>
                            <a class="text-muted" href="http://127.0.0.1:3000/topicSquare">话题</a>
                        </li>
                        <li style="margin-left: 60px;margin-top: 3px">
                            <div class="input-group" style="width:342px">
                            <input type="text" class="form-control">
                            <span class="input-group-addon" style="background-color: #6db0ff;color:white;">搜索</span>
                        </div>
            </li>
                        <li class="dropdown pull-right" style="margin-top: 7px;margin-right: 8px">
                            <span class="text-muted" style="margin-right: 18px;">消息</span>
                            <img data-toggle="dropdown" src="http://127.0.0.1:3000/static/userhead/3.jpg" style="width:28px">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://127.0.0.1:3000/page/1/answer">个人主页</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="http://127.0.0.1:3000/logout">退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 column">
            </div>
        </div>
    </div>

    <div class="col-md-12 column" style="margin-top: 50px">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-5 column" style="padding:0;margin: 2px">

                <div class="shadow-smaller" style="margin-top: 0;border: #fafafa solid 0px;background-color: white;margin-left: 10px;;margin-bottom: 10px;margin-right:-10px;padding:15px;">
                    <span id="toanswer" style="border: #f3f3f3 solid 0px;background-color: #ffffff;padding:8px 18px 8px 18px;border-top-right-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;color:#0084ff ;">提问题</span>
                    <span style="margin-left: 22px;border: #0084ff solid 0px;background-color: white;padding:8px 18px 8px 18px;border-top-right-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;color:#0084ff ;"><a href="http://127.0.0.1:3000/articling">写文章</a></span>
                    <span class="pull-right" style="margin-left: 22px;color:#77839c">写草稿</span>
                    <!--<span style="margin-left: 22px;color: #77839c">•••</span>-->
                </div>
                <div id='answering' style="display: none">
                    <div class="shadow-smaller" style="background-color: white;margin-left: 10px;margin-right:-10px;padding:15px;border:1px #fafafa;border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; ">
                        <img src="http://127.0.0.1:3000/static/userhead/1.jpg" style="width: 25px"/>
                        <span>chenyuyuan</span>
                    </div>
                    <div class="shadow-smaller" style="background-color: white;margin-left: 10px;margin-right:-10px;padding:15px;border:1px #fafafa;border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; ">
                        <textarea style="width: 100%;height: 100px;border: 0;" onclick="if($(this).val()=='写回答..'){$(this).val('')}">写回答..</textarea>
                    </div>
                    <div class="shadow-smaller" style="height:64px;background-color: white;margin-left: 10px;margin-right:-10px;padding:15px;border:1px #fafafa;border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; ">
                        <button id="submitanswer" class="btn btn-info" style="position: relative;float: right">提交问题</button>
                    </div>
                </div>
                {%for key in answered%}
                <div class="shadow-smaller" style="background-color: white;margin-left: 10px;margin-right:-10px;padding:15px;border:1px #fafafa;border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; ">
                   <span style="font-weight: bold;font-size: 20px">{{key.queTitle}}</span>
                    <br/>
                    <img src="http://127.0.0.1:3000/static/userhead/1.jpg" style="width: 25px"/>
                    <span style="font-size: 18px;font-family: 'Helvetica Neue';">{{key.account}}</span>
                    <span class="text-muted">,{{key.shortIntro}}</span>
                    <p class="text-muted" style="font-size: 14px">{{key.like}}人赞同了该答案</p>
                    <p style="font-size: 15px;line-height: 24px">{{key.content}}</p>
                    <p class="text-muted" style="font-size: 14px">发布于{{key.time}}</p>
                    <div>
                        <span class="text-info" style="background-color:#e5f2ff;padding:6px 12px 6px 12px;border: #31708f 1px;border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px;">▲132</span>
                        <span class="text-info" style="background-color:#e5f2ff;padding:6px 12px 6px 12px;border: #31708f 1px;border-top-right-radius:4px; border-top-left-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px;">▼</span>
                        <span class="text-muted" style="margin-left: 20px;">{{key.comCount}}条评论</span>
                        <span class="text-muted" style="margin-left: 20px;">分享</span>
                        <span class="text-muted" style="margin-left: 20px;">收藏</span>
                        <span class="text-muted" style="margin-left: 20px;">•••</span>
                    </div>
                </div>
                {%endfor%}
                <br/>
                <ul class="pagination" style="margin-left: 30px;margin-right: 30px">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 column" style="position: fixed;right:16%;padding: 0;margin: 2px">
                <div class="shadow-smaller" style="margin-top: 0;border: #fafafa solid 0px;background-color: white;margin-left: 10px;;margin-bottom: 10px;margin-right:-10px;padding:15px;">
                    <span style="border: #f3f3f3 solid 0px;background-color: #ffffff;padding:8px 18px 8px 18px;border-top-right-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;color:#0084ff ;">提问题</span>
                    <span style="margin-left: 22px;border: #0084ff solid 0px;background-color: white;padding:8px 18px 8px 18px;border-top-right-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;color:#0084ff ;"><a href="http://127.0.0.1:3000/articling">写文章</a></span>
                    <span class="pull-right" style="margin-left: 22px;color:#77839c">写草稿</span>
                    <!--<span style="margin-left: 22px;color: #77839c">•••</span>-->
                </div>
            </div>
            <div class="col-md-2 column">
            </div>
        </div>
        <hr style="margin: 20px;">
        <div class="row clearfix">
            <div class="col-md-2 column">
            </div>
            <div class="col-md-5 column">
                <address> <strong>hit.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
            </div>
            <div class="col-md-3 column">
            </div>
            <div class="col-md-2 column">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="UTF-8">
    $(document).ready(function () {

        $('#share').click(function () {
            alert("111111");
            var v="ppp";
            window.clipboardData.setData("text",v);
        });
    $('#toanswer').click(function () {
        if($('#answering').css('display')=='none'){
            $('#answering').css('display','');
            // var a={{title|tojson}}
            // alert(a)
        }
    })
        var data={
            'questionid':'1'
        }
        $('#submitanswer').click(function () {
            $.ajax({
                type:'POST',
                url:'http://127.0.0.1:3000/submit/answering',
                contentType: 'application/json; charset=UTF-8',
                data:JSON.stringify(data),
                dataType:'json',
                success:function (data) {
                    alert("good")
                    alert(data.msg)
                }
            })
        })
    })
    </script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

